<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/eva-icons"></script>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Wildan - About</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="Wildan - About" />
    <meta name="description" content="About Wildan's profile" />
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar-container-pages" id="navbar">
      <ul id="navbar-ul">
        <li>
          <a
            hx-get="/hx/pages/home.html"
            hx-target="#page-content"
            hx-swap="innerHTML"
            hx-replace-url="/"
            hx-push-url="/"
            hx-on:click="
              htmx.ajax('GET', '/hx/components/navbar-home-active.html', {target:'#navbar', swap:'outerHTML'})
            "
          >
            <i data-eva="home-outline" data-eva-fill="#ffffff" class="icon"></i>
          </a>
        </li>
        <li class="navbar-title-home">Anime Recommendation</li>
        <li>
          <a
            class="active"
            hx-get="/hx/pages/anime-recommendation.html"
            hx-target="#page-content"
            hx-swap="innerHTML"
            hx-replace-url="/"
            hx-push-url="/anime-recommendation"
            hx-on:click="
              htmx.ajax('GET', '/hx/components/navbar-anime-recommendation-active.html', {target:'#navbar', swap:'outerHTML'})
            "
          >
            <i
              data-eva="star-outline"
              data-eva-fill="#21ff5c"
              class="icon-pages"
            ></i>
          </a>
        </li>
      </ul>
      <script>
        eva.replace();
      </script>
    </div>
    <!-- page content -->
    <div id="page-content">
      <div class="wrapper">
        <div class="header">
          <img
            src="/images/makeine2.jpg"
            alt="makeine-background"
            class="background"
          />
          <div class="flex-container">
            <div>
              <h1>Anime Recommendation</h1>
              <h2>This Is Anime Recommendation from Me</h2>
              <div class="warning-container">
                <i
                  data-eva="alert-triangle-outline"
                  data-eva-fill="#ff6161"
                  class="icon"
                ></i>
                <p>This Website is under development</p>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
          eleifend placerat iaculis. Ut varius justo tortor, non accumsan dui
          faucibus sed. Proin in dolor pharetra, pellentesque dui et, feugiat
          mi. Ut non elit blandit, accumsan mi commodo, lobortis dolor. Vivamus
          a efficitur justo, ac sollicitudin orci. Aenean sapien elit, dignissim
          dapibus massa ut, tristique semper leo. Etiam sit amet leo eget lectus
          vulputate cursus. Aliquam blandit, neque nec ullamcorper fringilla,
          enim augue volutpat velit, at consectetur augue justo nec lectus. Duis
          dapibus odio ipsum, nec posuere ex dignissim a. Duis fringilla tortor
          sed turpis consequat tempus. Donec vitae sapien est. Vestibulum ante
          ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          curae; Sed aliquam felis ut purus blandit gravida. Etiam pharetra,
          justo et pulvinar venenatis, tortor dolor placerat nunc, et vehicula
          nulla erat nec nunc. Nullam faucibus metus eget nisi congue porta.
          Nullam molestie varius molestie. Nullam posuere metus vel convallis
          efficitur. Suspendisse aliquet dui dictum euismod maximus. Suspendisse
          nibh massa, vehicula sed neque ut, hendrerit sagittis nibh. Quisque
          libero mauris, auctor nec ullamcorper non, commodo nec arcu. Aenean
          lacinia nisl at lectus eleifend pharetra. Nulla viverra, enim sodales
          commodo aliquam, ipsum leo viverra dolor, id malesuada urna nisl vitae
          nisi. Duis fringilla tortor mauris, ut consectetur nunc porttitor in.
          Mauris vitae scelerisque ligula. Duis sed commodo ante. Mauris
          bibendum elit sem, ornare egestas massa bibendum non. Fusce sodales
          tellus eget ante dapibus dignissim. Pellentesque elementum, odio id
          sodales vestibulum, eros magna blandit velit, in vehicula leo justo
          sed sapien. Maecenas hendrerit felis ut tincidunt faucibus. Maecenas
          nec efficitur leo. Proin feugiat lorem et sem aliquam, id tincidunt
          mauris consectetur. Quisque sed turpis malesuada, lacinia neque sed,
          vehicula risus. Maecenas facilisis nec est eleifend aliquet. Aenean at
          justo ante. Suspendisse tincidunt mi et massa finibus tincidunt. In
          hac habitasse platea dictumst. Quisque lobortis non risus eget
          egestas. Pellentesque varius ultrices dolor eu sollicitudin.
          Suspendisse et tempor lectus. Pellentesque rhoncus in leo non aliquam.
          Nam pellentesque gravida aliquet. Nullam ut vestibulum ligula. Morbi
          fermentum volutpat libero quis commodo. Aenean a sapien est. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos. Aenean sed nisi quis nisl mollis dapibus. Quisque
          consequat est odio, auctor mattis nulla pulvinar quis. Quisque rutrum
          auctor rutrum. Aliquam erat volutpat. Integer non mollis leo, a
          tristique mauris. Etiam ligula lorem, semper at mi quis, suscipit
          sollicitudin odio. Fusce fermentum libero quis urna condimentum
          egestas. Maecenas rhoncus augue tellus. Vivamus ut tincidunt mi. Nulla
          libero eros, condimentum sit amet ornare sit amet, porta et ipsum.
          Nulla gravida tortor metus, a aliquam enim laoreet vitae. Vivamus
          vulputate quis enim sit amet faucibus. Aliquam eget ligula eu quam
          elementum consectetur vel in ante. Sed vel velit dolor. Nam volutpat
          vel justo in tempus. Cras et dignissim augue, eu porta arcu. Morbi
          eleifend, turpis non maximus aliquet, neque enim semper dolor, nec
          pretium dolor lorem ut risus. Sed ornare tincidunt sapien vitae
          viverra.
        </div>
        <!-- footer -->
        <footer>
          <div class="footer-content">
            Copyright © <span id="copyright-year"></span> All Rights Reserved.
            Muhammad Wildan Nur Karim
          </div>
        </footer>
      </div>
    </div>
  </body>

  <script>
    document
      .getElementById("copyright-year")
      .appendChild(document.createTextNode(new Date().getFullYear()));

    eva.replace();
  </script>
</html>
