<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/eva-icons"></script>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Wildan</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar-container" id="navbar">
      <ul id="navbar-ul">
        <li>
          <a
            class="active"
            hx-get="/hx/pages/home.html"
            hx-target="#page-content"
            hx-swap="innerHTML"
            hx-replace-url="/"
            hx-push-url="/"
            hx-on:click="
              htmx.ajax('GET', '/hx/components/navbar-home-active.html', {target:'#navbar', swap:'outerHTML'})
            "
          >
            <i data-eva="home-outline" data-eva-fill="#21ff5c" class="icon"></i>
          </a>
        </li>
        <li class="navbar-page-title">Homepage</li>
        <li>
          <a
            hx-get="/hx/pages/about.html"
            hx-target="#page-content"
            hx-swap="innerHTML"
            hx-replace-url="/"
            hx-push-url="/about"
            hx-on:click="
              htmx.ajax('GET', '/hx/components/navbar-about-active.html', {target:'#navbar', swap:'outerHTML'})
            "
          >
            <i
              data-eva="person-outline"
              data-eva-fill="#ffffff"
              class="icon"
            ></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- page content -->
    <div id="page-content">
      <div class="homepage">
        <div class="flex-container">
          <div>
            <h1>Hi, I'm Muhammad Wildan</h1>
            <h2>Welcome to my personal blog!</h2>
            <div class="warning-container">
              <i
                data-eva="alert-triangle-outline"
                data-eva-fill="#ff6161"
                class="icon"
              ></i>
              <p>This Website is under development</p>
            </div>
          </div>
          <div class="card-container">
            <div
              class="card has-bg-img project-list-img"
              hx-get="/hx/pages/project-list.html"
              hx-target="#page-content"
              hx-swap="innerHTML"
              hx-replace-url="/"
              hx-push-url="/project-list"
            >
              <div class="card-title-container">
                <span class="card-title">Project List</span>
              </div>
            </div>
            <div class="card has-bg-img anime-recommendation-img">
              <div class="card-title-container">
                <span class="card-title">Anime Recommendation</span>
              </div>
            </div>
            <div class="card has-bg-img fun-things-img">
              <div class="card-title-container">
                <span class="card-title">Fun Things</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <footer>
      <div class="footer-content">
        Copyright © <span id="copyright-year"></span> All Rights Reserved.
        Muhammad Wildan Nur Karim
      </div>
    </footer>
  </body>

  <script>
    const year = new Date().getFullYear();
    document.getElementById("copyright-year").innerText = year;

    eva.replace();
  </script>
</html>
