<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Wildan</title>
  </head>
  <body>
    <ul>
      <li>
        <a
          hx-get="/hx/pages/home.html"
          hx-target="#page-content"
          hx-swap="innerHTML"
          hx-replace-url="/"
        >
          <img src="wd.svg" />
        </a>
      </li>
      <div class="navbar-link">
        <li>
          <a
            hx-get="/hx/pages/about.html"
            hx-target="#page-content"
            hx-swap="innerHTML"
            hx-push-url="/fun-things"
          >
            About
          </a>
        </li>
      </div>
    </ul>
    <div id="page-content">
      <div class="homepage">
        <div class="flex-container">
          <div>
            <h1>Hi, I'm Muhammad Wildan</h1>
          </div>
          <div class="card-container">
            <div class="card">Project List</div>
            <div class="card">Anime Recommendation</div>
            <div class="card">Fun Things</div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-content">
        Copyright © <span id="copyright-year"></span> All Rights Reserved.
        Muhammad Wildan Nur Karim
      </div>
    </footer>
  </body>
  <script>
    document
      .getElementById("copyright-year")
      .appendChild(document.createTextNode(new Date().getFullYear()));
  </script>
</html>
