body { 
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 70%;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #020e09;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 5rem;
}

@media (max-width: 800px) {
  .card-container {
    flex-direction: column;
  }
}

.card {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  box-shadow: 1px 1px gray;
  color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.homepage {
  margin-top: 30vh;
  height: 80vh;
  text-align:left;
  margin-left: 5rem;
  vertical-align: middle;
}

.navbar-link {
  float: right;
  margin: 4px;
  padding: 0;
}