.articles {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles-container {
  height: 85vh;
  background-color: #424549;
  display: flex;
  flex-flow: row wrap;
  border-radius: 20px;
  overflow: auto;
  overflow-x: hidden;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 90%;
}

/* ≥ 320px: mobile size */
@media (min-width: 320px) {
  .articles-container {
    margin: 0 2rem 0 2rem;
  }
}

/* ≥ 1024px: Small Desktops */
@media (min-width: 1024px) {
  /* Desktop styles */
  .articles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ≥ 1440px: Large Screens */
@media (min-width: 1440px) {
  /* Widescreen styles */
  .articles-container {
    justify-content: space-between;
    padding: 1rem 0 1rem var(--pd-left);
  }
}
