.articles {
  height: 100vh;
  width: 100%;
  position: relative;
}

.articles-container {
  position: absolute;
  width: 90%;
  top: 45%;
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}

/* ≥ 320px: mobile size */
@media (min-width: 320px) {
  .articles-container {
    margin: 0 2rem 0 2rem;
  }
}

/* ≥ 1024px: Small Desktops */
@media (min-width: 1024px) {
  /* Desktop styles */
  .articles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ≥ 1440px: Large Screens */
@media (min-width: 1440px) {
  /* Widescreen styles */
  .articles-container {
    justify-content: space-between;
    padding: 1rem 0 1rem var(--pd-left);
  }
}
