.personal-branding {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  opacity: 60%;
}

.icons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: black;
}

.icons__link {
  color: gray;
  transition: all 0.5s ease;
}

.icons__link:hover {
  color: black;
}

@media (min-width: 320px) {
  .hero-wrapper {
    margin-bottom: 2rem;
  }
  .greeting {
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.header {
  padding-top: 1px; /* PREVENT "MARGIN COLLAPSING"*/
}
